<div class="container mt-5">
  <h1>
    <a (click)="location.back()" class="btn btn-dark fw-bolder"><i class="bi bi-arrow-left"></i></a>
    Creation Page!
  </h1>
  <form #storeForm="ngForm">
    <fieldset>
      <legend>{{ 'add student' | titlecase }}</legend>
      <div class="mb-3">
        <input type="text" name="name" class="form-control"
          #name="ngModel" [(ngModel)]="student.name" placeholder="name"
          required>
        <small class="text-danger" *ngIf="name.errors?.['required'] && (name.dirty || (storeForm.submitted))">* name is required</small>
      </div>

      <div class="mb-3">
        <input type="text" name="email" class="form-control"
          #email="ngModel" [(ngModel)]="student.email" placeholder="email"
          required>
        <small class="text-danger" *ngIf="email.errors?.['required'] && (email.dirty || (storeForm.submitted))">* email is required</small>
      </div>

      <div class="mb-3">
        <input type="number"  step="1" min="10" max="100" name="age"
          #age="ngModel" class="form-control"
          placeholder="age" [(ngModel)]="student.age" required>
        <!-- * invalid and required handling -->
        <!-- <small class="text-danger" *ngIf="age.errors?.['required'] && (age.dirty || (storeForm.submitted))">* age is required</small>
        <small class="text-danger" *ngIf="age.invalid && (age.dirty || (storeForm.submitted))">* age is invalid</small> -->
        <!-- * any error handling -->
        <ul *ngIf="age.errors != null && storeForm.submitted" class="p-0">
          <li class="text-danger" style="list-style: none;" *ngFor="let error of age.errors | keyvalue">
            <small>* age rule broken: {{error.key}}</small>
          </li>
        </ul>
      </div>

      <button type="submit" (click)="store(storeForm)"
        [disabled]="disabled"
        class="btn btn-primary">
        <i class="bi bi-send-fill"></i>
        {{'submit' | titlecase}}
      </button>
    </fieldset>
  </form>
</div>
